<!--{if $_G['uid']}-->
<!--=====↑判定用户是否登陆=====-->
<a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content: '{if $_G[member][newprompt]}$_G[member][newprompt] 条新{/if}消息'}" mdui-menu="{target: '#user_message'}">
	<i class="mdui-icon material-icons">
		<!--{if $_G[member][newprompt]}-->
			notifications_active
		<!--{else}-->
			notifications
		<!--{/if}-->
	</i>
</a> 
<a href="home.php?mod=space&uid=$_G[uid]" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content: '账户信息'}">
	<img class="mdui-icon material-icons mdui-img-circle" src="uc_server/avatar.php?uid=$_G['uid']&size=small"/>
</a> 
<a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#user_menu'}" mdui-tooltip="{content: '更多'}">
	<i class="mdui-icon material-icons">more_vert</i>
</a> 

<ul class="mdui-menu" id="user_message"> 
	<li class="mdui-menu-item">
		<a href="home.php?mod=space&do=pm" target="_blank" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">
			<!--{if $_G[member][newpm]}-->
				mail
			<!--{else}-->
				mail_outline
			<!--{/if}-->
			</i>
			{lang pm_center}
		</a>
	</li> 
	<li class="mdui-menu-item">
		<a href="home.php?mod=space&do=notice" target="_blank" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">
				<!--{if $_G[member][newprompt]}-->
					announcement
				<!--{else}-->
					message
				<!--{/if}-->
			</i>
			<!--{if $_G[member][newprompt]}-->$_G[member][newprompt] 条新<!--{/if}-->{lang remind}
		</a>
	</li>
	<!--{if $_G[member][newprompt_num][follower]}-->
	<li class="mdui-divider"></li> 
	<li class="mdui-menu-item">
		<a href="home.php?mod=follow&do=follower" target="_blank" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">
				people
			</i>
			$_G[member][newprompt_num][follower] 位{lang notice_interactive_follower}
		</a>
	</li>
	<!--{/if}-->
</ul> 

<ul class="mdui-menu" id="user_menu"> 
	<li class="mdui-menu-item">
		<a href="{if $_G['setting']['domain']['app']['default']}{$_G['scheme']}://{$_G['setting']['domain']['app']['default']}/{else}./{/if}" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">home</i>
			{lang homepage}
		</a>
	</li> 
	<li class="mdui-menu-item">
		<a href="home.php?mod=spacecp" target="_blank" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">settings</i>
			{lang setup}
		</a>
	</li> 

	<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
		<!--=====判断用户是否有管理模块的权限，如果有，则显示入口=====-->
		<li class="mdui-menu-item">
			<a href="portal.php?mod=portalcp" target="_blank" lass="mdui-ripple">
				<i class="mdui-menu-item-icon mdui-icon material-icons">assessment</i>
				<!--{if $_G['setting']['portalstatus'] }-->
					{lang portal_manage}
				<!--{else}-->
					{lang portal_block_manage}
				<!--{/if}-->
			</a>
		</li> 
	<!--{/if}-->
		
	<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
		<!--=====判断用户是否有管理面板（这里好像是单个板块的）的权限，如果有，则显示入口=====-->
		<li class="mdui-menu-item">
			<a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank" class="mdui-ripple">
				<i class="mdui-menu-item-icon mdui-icon material-icons">folder_shared</i>
				{lang forum_manager}
			</a>
		</li>
	<!--{/if}-->
		
	<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
		<!--=====判断用户是否有管理后台的权限，如果有，则显示入口=====-->
		<li class="mdui-menu-item">
			<a href="admin.php" target="_blank" class="mdui-ripple">
				<i class="mdui-menu-item-icon mdui-icon material-icons">assignment_ind</i>
				{lang admincp}
			</a>
		</li>
	<!--{/if}-->

	<li class="mdui-divider"></li> 

	<!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}-->
		<!--=====如果用户有正在进行的任务，则显示此项目=====-->
		<li class="mdui-menu-item">
			<a href="home.php?mod=task&item=doing" target="_blank" class="mdui-ripple">
				<i class="mdui-menu-item-icon mdui-icon material-icons">assignment</i>
				{lang task_doing}
			</a>
		</li> 
		<li class="mdui-divider"></li> 
	<!--{/if}-->

	<li class="mdui-menu-item">
		<a href="member.php?mod=logging&action=logout&formhash={eval echo formhash();}" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">power_settings_new</i>
			{lang logout}
		</a>
	</li> 
</ul> 

</div>

<!--{else}-->
<!--=====↑判定是不是游客=====-->
<a href="member.php?mod=logging&action=login" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-tooltip="{content: '账户信息'}">
	<i class="mdui-icon material-icons">account_circle</i>
</a>
<a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-menu="{target: '#mdui_user_menu'}" mdui-tooltip="{content: '更多'}">
	<i class="mdui-icon material-icons">more_vert</i>
</a> 
<ul class="mdui-menu" id="mdui_user_menu"> 
	<li class="mdui-menu-item">
		<a href="{if $_G['setting']['domain']['app']['default']}{$_G['scheme']}://{$_G['setting']['domain']['app']['default']}/{else}./{/if}" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">home</i>
			{lang homepage}
		</a>
	</li> 
	<li class="mdui-menu-item">
		<a href="member.php?mod=logging&action=login" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">exit_to_app</i>
			{lang login}
		</a>
	</li> 
	<li class="mdui-menu-item">
		<a href="member.php?mod={$_G[setting][regname]}" class="mdui-ripple">
			<i class="mdui-menu-item-icon mdui-icon material-icons">vpn_key</i>
			$_G['setting']['reglinkname']
		</a>
	</li> 
</ul> 
</div>
	
<!--{/if}-->